/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 2px;
  color: black;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 0.5px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.navbar-default .navbar-brand {
    color: white;
}



/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

#myCarousel{
    margin-bottom: none;
}

#navbar{
    background-color: rgba(61,197,93,1);
}

.navbar-brand {
    color: white;
}

#navbar a{
    color:  white;
}


.navbar-static-top{
    background-color: rgba(61,197,93,1);
}


.section1{
    background-color: rgba(61,197,93,1);
    padding-top: 0.5px;
}

.section1 h1{
    text-align: center;
    color: white;
    margin-top: 60px;
}

.section3{
    
    background-color: rgba(61,197,93,1);
}

.section3 h1{
    color: white;
}

.section4{
    color: rgba(61,197,93,1);
}
.section4 h1{
    color: rgba(61,197,93,1);
    margin-bottom: 40px;
}

.section {
    background-color: rgba(61,197,93,1);
}


.logo img{
    margin-top: 40px;
    margin-left: auto;
	margin-right: auto;
}

.align-center{
    margin-top: 30px;
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-size: 1.20em;
}

.align-center1{
    margin-top: 30px;
    color: rgba(61,197,93,1);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-size: 1.20em;
}

.donateimg{
    
    margin-top: 20px;
}


.button{
    
    background-color: rgba(61,197,93,1);
    text-align: center;
    margin-top: 25px;
    margin-left: 300px;
    color: black;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 10px;
    border-color: rgba(61,197,93,1);
}

.button1{
    
    background-color: white;
   
    margin-left: 463px;
    margin-top: 10px;
    color: black;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 10px;
    border-color: white;
}

.section2 h1{
    text-align: center;
    margin-left: -20px;
    color: rgba(61,197,93,1);
    margin-top: 60px; 
}

.section4 h3{
    margin-bottom: 40;
}

.glyphicon {
    font-size: 100px;
    text-align: center;
}

.navbar-static-top{
    border-color: rgba(61,197,93,1);
}

/* Footer*/

.footer section-primary{
    
    background-color: aliceblue;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 0px;
    font-size: 21px;
    line-height: 1.4;
  }

.carousel {
  height: 500px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
  
.section1 h1{
    text-align: left;
    color: white;
    margin-top: 60px;
    margin-left: -40px;
} 
    
    .section2 h1{
        text-align: left;
    margin-left: -40px;
    color: rgba(61,197,93,1);
    margin-top: 60px; 
}
    
    .button{
    
    background-color: rgba(61,197,93,1);
    text-align: center;
    margin-top: 25px;
    margin-left: 300px;
    color: black;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 10px;
    border-color: rgba(61,197,93,1);
}
    
}

@media (min-width: 992px) {
  
    .carousel {
  height: 600px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

.section1 h1{
    text-align: left;
    color: white;
    margin-top: 90px;
    margin-left: -60px;
}    
    .section2 h1{
        text-align: left;
    margin-left: -60px;
    color: rgba(61,197,93,1);
    margin-top: 60px; 
}
    
    .button{
    
    background-color: rgba(61,197,93,1);
    text-align: center;
    margin-top: 25px;
    margin-left: 300px;
    color: black;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 10px;
    border-color: rgba(61,197,93,1);
}
    
    .section-primary{
        background-color: rgba(61,197,93,1) !important;
        padding: inherit;
    }
    
}
