html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font-family: 'Oxygen', sans-serif;
    line-height: normal;
    color: #999999;
    font-size: 16px;
    background-color: #F0F0F2;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #222222;
}


/* Navbar */

.navbar {
    margin-bottom: 0px;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: #fff;
    padding: 10px 10px;
    transition: all 0.3s;
}

.navbar-default .navbar-toggle .icon-bar {
        background-color: #F0F0F2 !important;
    }

.navbar-default {
    background-color: rgba(47, 64, 82, 0.6);
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand img {
    margin-top: -12px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.top-nav-collapse {
    padding: 0;
    background: rgba(28, 74, 90, 0.9);
}

.white,
.white:hover,
.white:focus {
    color: #fff;
    width: 100% !important;
}

.block {
    display: block;
}

.navbar-default .navbar-nav > .active > a {
    color: #F0F0F2;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    text-decoration:none;
    box-shadow: inset 0px -4px 0 rgba(14, 156, 214, 1);
    transition: 0.2s;
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #F0F0F2;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(14, 156, 214, 0.7);
    transition: 0.2s;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(14, 156, 214, 0.7);
}

/* Get involved */

.hover {
    margin: 5px;
    color: #303A45;
    font-size: 1em;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
}

.link {
    text-decoration: none;
    box-shadow: inset 0 -2px 0 rgba(14, 156, 214, 1);
    color: inherit;
    transition: 0.2s;
}

.link:hover {
    box-shadow: inset 0 -100px 0 rgba(14, 156, 214, 0.5);
    transition: 0.2s;
}

.box_spacing {
    margin-top: 20px;
}
/* Button Style */

.main-button button {
    color: #F0F0F2;
    font-size: 1em;
    font-family: "Oxygen", sans-serif;
    position: relative;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background: rgba(14, 156, 214, 1);
    cursor: pointer;
    margin-top: 20px;
}

.main-button button:after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    bottom: 1px;
    left: 0%;
    width: 100%;
    height: 8px;
    box-shadow: 0px 6px 20px rgba(14, 156, 214, 1);
}

.main-button button:hover {
    opacity: .8;
    border-radius: 4px;
}

.main-button button:hover:after {
    box-shadow: 0 2px 8px rgba(14, 156, 214, 1);
    border-radius: 4px;
}

.main-button button:active,
.main-button button:focus {
    outline: none;
    border-radius: 4px;
}

.main-button button:active:after {
    bottom: 4px;
    border-radius: 4px;
}




/* Banner */
#banner {
    background: url('https://unsplash.it/1021/766') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
    margin-bottom: 40px;
}

.page-header-one {
    background: #2E3443;
    padding: 30px;
    border-radius: 4px;
    height: 220px;
    width: 380px;
    opacity: 0.7;
    margin: auto;
}

.page-header-two {
    background: #2E3443;
    padding: 30px;
    border-radius: 4px;
    height: 160px;
    width: 380px;
    opacity: 0.7;
    margin: auto;
}

.heading {
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    letter-spacing: 2.4px;
    color: #F0F0F2;
}

.subheading {
    margin-top: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #F0F0F2;
}

.bg-color {
    background-color: rgba(47, 64, 82, 0.4);
    min-height: 650px;
}

.banner-info {
    padding-top: 220px;
}

/* Event Section */

#event-section {
    padding: 20px;
    margin-bottom: 50px;
}

#event-section button {
    margin-left: 15px;
}

.event-title {
    margin-top: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 36px;
    color: #4C5468;
}

.event-name {
    color: #0E9CD6;
}

#event-section p{
    margin-top: 30px;  
    margin-bottom: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #40475A;
}

.event-description {
    margin-top: 30px;
}

.event-description h4 {
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: #4C5468;
}

.event-place {
    text-align: left;
}

.event-date {
    text-align: right;
}

.events-page-section {
    margin-top: 50px;
    margin-bottom: 20px;
}

.events-page-section h2 {
    color: #0E9CD6;
}

/* Sections */

.main-section {
    padding: 20px;
    margin-bottom: 30px; 
}

.main-section h2 {
    margin-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 36px;
    color: #0E9CD6;
}

.main-section h3 {
    margin-top: 30px;  
    font-family: Oxygen;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #4C5468;
}

.main-section h4 {
    margin-top: 10px; 
    margin-bottom: 20px; 
    font-family: Oxygen;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    color: #4C5468;
}

.main-section p {
    margin-top: 20px;  
    margin-bottom: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #40475A;
}

.main-quote {
    margin-top: 50px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #0E9CD6;
}

.main-section a {
  text-decoration:none;
  box-shadow: inset 0 -3px 0 rgba(14, 156, 214, 1);
  color: inherit;
  transition: 0.2s;
}

.main-section a:hover {
  color: #40475A;
  text-decoration:none;
  box-shadow: inset 0 -100px 0 rgba(14, 156, 214, 0.5);
  transition: 0.2s;
}

/* Right Section */

.right-section {
    padding: 20px;
    margin-bottom: 20px; 
}

.right-section h2 {
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 36px;
    color: #0E9CD6;
}

.right-section h3 {
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    color: #4C5468;
}

.right-section p {
    margin-top: 20px;  
    margin-bottom: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #40475A;
}

/* Left Section */

.left-section {
    padding: 20px;
    margin-bottom: 20px; 
}

.left-section h2 {
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 36px;
    color: #0E9CD6;
}

.left-section h3 {
    margin-top: 40px;  
    font-family: Oxygen;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #4C5468;
}

.left-section p {
    margin-top: 10px;  
    margin-bottom: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #40475A;
}

.left-section img {
    margin-top: 20px;
}

/* People Section */

.people-section {
    padding: 20px;
    margin-bottom: 10px; 
}

.people-section h2 {
    margin-top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 36px;
    color: #0E9CD6;
}

.people-section h3 {
    margin-top: 10px;  
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #0E9CD6;
}

.people-section h4 {
    margin-top: -5px;
    margin-bottom: 30px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #4C5468;
}

.people-section p {
    margin-top: 10px;  
    margin-bottom: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #40475A;
}

.people-section img {
    margin-top: 20px;
}

/* Contact Form Section*/
.formSection {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DADBDD;
    border-radius: 10px;
    padding: 40px;
}

.formAttribute {
    margin-bottom: 10px;
}

.formSection label {
    font-family: Oxygen;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin: 8px;
    color: #4C5468;
}

.formSection .formItem  {
    border-radius: 5px;
    outline: 0;
    background: #F0F0F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 8px;
    box-sizing: border-box;
    color: #4C5468;
}

.formSection textarea {
    border-radius: 5px;
    outline: 0;
    background: #F0F0F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 8px;
    box-sizing: border-box;
}

#submitForm {
    color: #F0F0F2;
    font-size: 1em;
    font-family: "Oxygen", sans-serif;
    position: relative;
    border: none;
    border-radius: 4px;
    padding: 12px;
    background: rgba(14, 156, 214, 1);
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 6px 20px rgba(14, 156, 214, 0.6);
}

#submitForm:hover {
    opacity: .8;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(14, 156, 214, 1);
}

/* Footer */

#footer {
    background-color: #2F4052;
    padding: 30px;
}

.footer-line {
    color: #F0F0F2;
}

.credits {
    margin-top: 10px;
    font-size: 14px;
}

#footer a {
  text-decoration:none;
  box-shadow: inset 0 -4px 0 rgba(14, 156, 214, 1);
  color: inherit;
  transition: 0.2s;
}

#footer a:hover {
  color: #F0F0F2;
  text-decoration:none;
  box-shadow: inset 0 -100px 0 rgba(14, 156, 214, 0.5);
  transition: 0.2s;
}